kind: Pod
apiVersion: v1
metadata:
  name: first-pod
  labels:
    app: foo
spec:
  containers:
  - name: kuber
    image: dodexq/kuber_loadbalancing:v1
---
kind: Service
apiVersion: v1
metadata:
  name: foo-service
spec:
  selector:
    app: foo
  ports:
  - port: 80
---
kind: Pod
apiVersion: v1
metadata:
  name: second-pod
  labels:
    app: bar
spec:
  containers:
  - name: kuber
    image: dodexq/kuber_loadbalancing:v1
---
kind: Service
apiVersion: v1
metadata:
  name: bar-service
spec:
  selector:
    app: bar
  ports:
  - port: 80
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: example-ingress
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  rules:
  - http:
      paths:
      - pathType: Prefix
        path: /foo(/|$)(.*)
        backend:
          service:
            name: foo-service
            port:
              number: 80
      - pathType: Prefix
        path: /bar(/|$)(.*)
        backend:
          service:
            name: bar-service
            port:
              number: 80
---
kind: Service
apiVersion: v1
metadata:
  name: loadbalancer-service
spec:
  selector:
    app: http-echo
  ports:
  # Default port used by the image
  - port: 4545
    targetPort: 80
  type: LoadBalancer