kind: Pod
apiVersion: v1
metadata:
  name: first-pod
  labels:
    app: foo
spec:
  containers:
  - name: foo-app
    image: dodexq/kuber_loadbalancing:v1
    ports:
      - name: http
        containerPort: 80
---
kind: Service
apiVersion: v1
metadata:
  name: foo-service
  labels:
    app: foo-s
spec:
  selector:
    app: foo
  ports:
  # Default port used by the image
  - port: 80
    targetPort: 80
---
kind: Pod
apiVersion: v1
metadata:
  name: second-pod
  labels:
    app: bar
spec:
  containers:
  - name: bar-app
    image: dodexq/kuber_loadbalancing:v1
    ports:
      - name: http
        containerPort: 80
---
kind: Service
apiVersion: v1
metadata:
  name: bar-service
  labels:
    app: bar-s
spec:
  selector:
    app: bar
  ports:
  # Default port used by the image
  - port: 80
    targetPort: 80

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: example-ingress
  annotations:
    kubernetes.io/ingress.class: "nginx"
  labels:
    app: ingress
spec:
  rules:
  - http:
      paths:
      - pathType: Prefix
        path: /foo
        backend:
          service:
            name: foo-service
            port:
              number: 80
      - pathType: Prefix
        path: /bar
        backend:
          service:
            name: bar-service
            port:
              number: 80